@import "~normalize.css";
@import "_variables";
//--------------------------
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import "modules/hero.scss";
@import "modules/welcome.scss";
@import "modules/content.scss";
@import "modules/aboutMe.scss";
@import "modules/footer.scss";
body {
    background: $wtf;
    color: #fff;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

p {
    text-indent: 20px;
}